@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #101630;
  --color-secondary: #f25a38;
  --color-accent: #ffcc00;
  --color-accent-2: #f0f0f0;
  --color-neutral-1: #333333;
  --font-inter: "Inter", "sans-serif";
  --font-playfair: "Playfair Display", "serif";
}

:root {
  --navbar-height: 72px;
}

html,
body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
